flybase_metta.qlf
#.bash_*
./.*~
./.git
./data/
./examples/performance/gpt2-like/corpus
./reports/
./reports_local/
./venv/lib
./venv/
./reqs/
./.Attic
!./reqs/logicmoo_utils
!./reqs/predicate_streams
# local development might need these changes without commiting
#!./src/main
#!MeTTa
#!mettalog
