tee.ansi
reqs/pyswip/.git
reqs/pyswip/build
reqs/pyswip/dist
reqs/pyswip/pyswip.egg-info
reqs/pyswip-notebook/.git
reqs/pyswip-notebook/build
reqs/pyswip-notebook/dist
reqs/pyswip-notebook/pyswip-notebook.egg-info
das_precomputed/*.pl
precomputed_files/**/*.pl
ftp.flybase.net/**
./src/version-config
.?*~/
.*/
*~
*.buffer.pl
#*.metta.pl
*.mine
venv/
src/canary-*/
.*
*.qlf
*.datalog
*-wam.vpw?*
*.vtg
.bash_history
*.bak
tests~output/
reports/*/
swipl-devel/
ImplicitQuantification.tex
data/ftp.flybase.net/
data/SO-Ontologies/
data/tsv_exports/
git-mv-with-history-wildcards
__pycache__/
#        src/main/extra_pytests/
src/main/metta_interp.new
src/main/metta_interp.old
src/main/swi_flybase.ahead
src/main/swi_flybase_fast.new
src/main/swi_flybase_fast_good.pl
reqs/
# temp files
./*.ansi
./TEE*.ansi.UNITS
Result.html
# Added by Visual Studio Code
apples/
bline/
compout/
ctm.metta
file_info.tmp
last-run/
main123/
mettalog.bg
nars123/
repsss/
rr/
rtests/
src/CAAA/
src/canary/metta_compiler - Copy.pl
src/canary/metta_compiler.pl.304
src/canary/metta_compiler.pl.bak.right
src/canary/metta_compiler.pl.left
src/canary/metta_compiler.pl.new2
src/canary/metta_compiler.pl.newest
src/canary/metta_compiler.pl.old
tests_output/
*.swp
target/
Cargo.lock
.DS_Store
__pycache__
CMakeUserPresets.json
/build
/python/hyperon.egg-info
/python/dist
/python/build
/python/*.so
/python/*.dylib
/python/wheelhouse
